* {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
     border: 0;
     outline: none;
     list-style-type: none;
     font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
     position: relative;
     display: grid;
     place-items: center;
     min-height: 100dvh;
     background-color: rgb(239, 229, 255);
     color: #02020c;
}

main,
section {
     width: calc(100% - 5%);
}

aside {
     position: absolute;
     bottom: 2%;
     left: 2%;
}

aside ul {
     margin: 12px;
     display: grid;
     grid-template-columns: repeat(6, 80px);
     gap: 20px;
}

aside h3 {
     background-color: wheat;
     padding: 12px;
     margin-block: 10px;
     text-align: center;
     text-transform: uppercase;
}

.title {
     text-align: center;
     padding-block: 20px;
}

.note_box {
     text-align: center;
     padding: 5px;
     border-radius: 5px;
     box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
     background-color: hsl(0, 0%, 96%);
}

.note_box h4 {
     margin-top: 5px;
     text-decoration: 2px underline;
}

.sub_moy {
     color: crimson;
}

.moy {
     color: green;
}

#display_err {
     position: fixed;
     bottom: 5%;
     right: -205%;
     min-width: 200px;
     border-radius: 8px;
     background-color: rgb(245, 245, 245);
     box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
     transition: right cubic-bezier(0.175, 0.885, 0.32, 1.275) .1s;
     padding: 12px;
     color: crimson;
     z-index: 100;
}

#display_err.active {
     right: 5% !important;
}

.input_box {
     display: flex;
     align-items: center;
     justify-content: space-between;
     gap: 12px;
     margin-inline: auto;
     width: 100%;
     background-color: rgb(245, 245, 245);
     padding: 12px;
     height: 80px;
     box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
     border-radius: 5px;
}

.copyright {
     position: fixed;
     top: 1%;
     left: 1%;
     min-width: 200px;
     border-radius: 8px;
     background-color: rgb(245, 245, 245);
     box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
     padding: 12px;

}

#input,
#calc_btn {
     height: 100%;
}

#input {
     flex: 1;
     padding: 5px 12px;
     border-radius: 5px;
     border: 2px groove transparent;
     transition: border cubic-bezier(0.25, 0.46, 0.45, 0.94) .3s;
}

#input::placeholder {
     font-weight: 600;
}

#input:focus {
     border-color: darkgoldenrod;
}

#calc_btn {
     padding: 5px 12px;
     cursor: pointer;
     font-weight: 600;
     border-radius: 5px;
     background-color: rgb(27, 52, 52);
     color: rgb(245, 245, 245);
     text-transform: uppercase;

}